html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri-light';
}

body {
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

/* Navbar */
#FirstHeader {
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    z-index: 1000;
    width: 100%;
}


#FirstHeader .nav_socialLinks {
    display: flex;
    flex-direction: row;
    margin: 60px 10vw 0PX 10px;
    width: auto;
}

#FirstHeader .nav_socialLinks a i {
    margin: 0 10px;
    color: rgb(255, 255, 255);
    font-size: clamp(15px, 3vw, 20px);
}


#FirstHeader .nav_socialLinks  #insta i:hover {
    transform: scale(1.2);
    color: #f22c95;
}
#FirstHeader .nav_socialLinks #fb i:hover {
    transform: scale(1.2);
    color: #1877F2;
}
#FirstHeader .nav_socialLinks #x i:hover {
    transform: scale(1.2);
    color: #000000;
}
#FirstHeader .nav_socialLinks #lkdn i:hover {
    transform: scale(1.2);
    color: #0077B5;
}
#FirstHeader .nav_socialLinks #yt i:hover {
    transform: scale(1.2);
    color: #FF0000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 10vw 0vh 10vw;
    width: 100%;
    position: absolute;
    top: 85px;
    z-index: 999;
}


#logo img {
    position: relative;
    height: 100px;
    left: 20px;
}


.nav-list {
    display: flex;
    list-style: none;
    background-color: #0a0a0ac3;
    padding: 25px 10px;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: clamp(13px, 1.2vw, 16px);
    padding: 12px 20px;
    transition: background 0.3s;
    position: relative;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#home {
    color: #f2ff00;
}

.nav-list li a:hover {
    color: #f2ff00;
    transition: color 0.3s ease-out;

}

.menu-toggle {
    display: none;
    cursor: pointer;
    background-color: #0d0d0dc1;
    padding: 7px;
}

.nav-list.show {
    display: flex;
}

#getQuote {
    position: fixed;
    right: -20px;
    top: 250px;
    z-index: 99999;
}

#getQuote a {
    padding: 12px 35px 12px 25px;
    background-color: #ffffff;
    color: #413c99;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: Archivo;
    border-radius: 30px;
    box-shadow: 0px 5px 5px #2323238e;
}

#getQuote a:hover {
    background-color: rgb(251, 251, 9);
    color: rgb(0, 0, 0);
    transform: scale(1.02);
}

.hero-slider {
    position: relative;
    width: 100%;
    height: 120vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.slide:not(.active) {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


/* Overlay over image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.771);
    z-index: 2;
}

/* Text Layer */
.hero-text {
    position: relative;
    z-index: 3;
    color: white;
    padding: 0 80px;
    top: 350px;
    width: 90%;
}

.hero-text h1 {
    font-size: clamp(1rem, 5vw, 4rem);
    color: #ff9100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

}



.hero-text p {
    font-size: clamp(0.7rem, 2vw, 1.5rem);
    padding-top: 10px;
    line-height: 1.5;
    font-family: monospace;
    color: #C1D8C3;
}

.hero-buttons {
    display: flex;
    gap: 10px 150px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.hero-buttons a {
    padding: 12px 30px;
    border: 1px solid #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    min-width: 160px;
}

#hero_btn1 {
    color: #ffffff;
    font-size: clamp(0.7rem, 2vw, 1rem);

}

#hero_btn1:hover {
    background-color: #ffffff;
    color: #000000;
}

#hero_btn2 {
    background-color: #ffffff;
    color: #000000;
    font-size: clamp(0.7rem, 2vw, 1rem);

}

#hero_btn2:hover {
    background-color: transparent;
    color: #ffffff;
}

/* Responsive tweak */
@media (max-width: 768px) {
    .hero-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-buttons a {
        text-align: center;
    }
}




/* Mobile Navigation */


.nav-list.desktop-visible {
    display: flex !important;
}

@media (max-width: 985px) {
    .menu-toggle {
        display: inline-block;
        cursor: pointer;

    }


    .menu-toggle .bar {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
        transition: 0.4s;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 83px;
        right: 0;
        width: 100%;
        background-color: #000000;
        padding: 0;
        margin: 0;
        z-index: 999;
        border-radius: 0;
    }

    .nav-list.show {
        display: flex !important;
    }

    .nav-list li {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border-bottom: 1px solid #57aa6e;
    }

    .nav-list a {
        color: rgb(255, 255, 255);
        display: block;
        width: 100%;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 0 !important;
    }

    #home {
        background-color: #57aa6e;
        color: rgb(5, 5, 5);
    }

    .nav-list li a:hover {
        color: #57aa6e;
        transform: none;
        border-radius: 0 !important;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    }

    /* Fix the menu icon */
    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}





#hero_container {
    position: absolute;
    top: 140%;
    left: 70%;
    transform: translate(-50%, -100%);
    width: 90%;
    max-width: 420px;
    padding: 30px 40px;
    color: #333;
    background-color: white;
    box-shadow: 0px 10px 10px #C1D8C3;
    z-index: 999;
    text-align: center;
    box-sizing: border-box;
}

#hero_container h1 {
    font-size: clamp(1.9rem, 5vw, 3rem);
    margin-top: 15px;
    line-height: 1.2;
    font-family: 'Trebuchet MS', sans-serif;
    color: #707070;
}

#hero_container p {
    margin-top: 15px;
    line-height: 1.8;
    font-size: clamp(0.6rem, 2.5vw, 1rem);
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

#hero_container a {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 12px 25px;
    background-color: #57aa6e;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: clamp(0.9rem, 2vw, 1rem);
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero_container a:hover {
    background-color: #2a2a2a;
    color: #ffffff;

}

/* Responsive: center the container on smaller screens */
@media (max-width: 768px) {
    #hero_container {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -30%);
        padding: 30px 20px;
        max-width: 370px;
    }
}


/* About Us Section */
#about {
    padding: 190px 20px 60px 20px;
    background-color: #f8f8f8;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.about-image-container {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.about-image-container img {
    width: 100%;
    height: auto;
}

.about-content {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h2 {
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    line-height: 1.4;
    font-family: 'Trebuchet MS', sans-serif;
    color: #333;
    margin-bottom: 15px;
}


.about-content .uael-separator {
    width: 150px;
    height: 1px;
    background-color: #57aa6e;
    margin: 10px 0 30px 0;
    border-radius: 2px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .uael-separator {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .uael-separator {
        width: 80px;
    }
}





.about-content p {
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    color: #555;
    line-height: 1.6;
}

.about-content a {
    margin-top: 20px;
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #57aa6e;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(0.7rem, 2vw, 1rem);
    transition: background-color 0.3s ease-in-out;
}

.about-content a:hover {
    background-color: #333;
}



/* Services Section */

#services {
    padding: 30px;
    font-size: 1.8rem;
    background-color: #e9ecef;
    text-align: center;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.services h2 {
    margin-left: 12vw;
    font-size: clamp(1rem, 3vw, 3rem);
    color: #1d1c1c;
}

.services p {
    margin-right: 10vw;
    padding: 10px 20px;
    font-size: clamp(0.6rem, 2vw, 1rem);
    color: #1f1e1e;
}



#services_viewAll :hover {
    color: rgb(43, 43, 43);
    background-color: white;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.service {
    width: 350px;
    height: 370px;
    margin: 15px;
    background-color: white;
    padding: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

.service:hover {
    box-shadow: 0px 10px 10px #29292977;
    filter: grayscale(0%);
}

.service img {
    width: 100%;
    height: 200px;
}

.service h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.service p {
    font-size: 0.8rem;
    line-height: 1.4;
    font-family: Arial, sans-serif;
    text-align: justify;
}



/*Projects section*/

#project {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 150px 200px 150px;
    height: 600px;
    overflow: hidden;
}

#project div {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.project_container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: linear-gradient(0deg, #040404, #1d1d1dd8);
    height: auto;
}

.project_container1 h1 {
    font-size: clamp(15px,4vw,30px);
    padding: 0px 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project_container1 h4 {
    font-size: clamp(11px,2vw,15px);
    font-weight: 100;
    padding: 5px 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project_container1 .uael-separator {
    width: 150px;
    max-height: 1px;
    background-color: #57aa6e;
    margin: 10px 0px 20px 30px;
}

#project img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#project div img:hover {
    filter:grayscale(60%);
    transition: ease-in-out;
}

#project p {
    position: absolute;
    bottom: 50px;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

.project_container .uael-separator {
    width: 150px;
    max-height: 1px;
    background-color: #57aa6e;
    margin: 10px 0px 20px 30px;
    z-index: 9999;
}
@media(max-width:1100px){
    #project{
        height: 400px;
        margin-left:50px;
        margin-right:50px;
    }
}
@media(max-width: 850px){
    #project {
        flex-wrap: wrap;
        height: auto;
        margin: 80px 30px 100px 30px;
    }
    #project div {
        flex: 0 0 48%;
        max-width: 48%;
        margin: 1%;
    }

}









/* Contact Us Section */

.section-wrapper {
    position: relative;
    width: 100%;
    height: 380px;
    background-image: url('images/contact.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    z-index: 1;
}

.section-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(65, 92, 78, 0.712);
    z-index: 2;
}

.left-container {
    position: absolute;
    top: -60px;
    left: 10%;
    width: 32%;
    height: calc(100% + 220px);
    background: white;
    box-shadow: 0 0px 12px rgba(6, 6, 6, 0.414);
    z-index: 5;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
}

#contact form h2 {
    font-size: clamp(1.2rem, 2vw, 2rem);
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #434343bd;
}

#contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 0;
}

.form-group label {
    display: block;
    color: #444;
    font-size: clamp(0.7rem, 2vw, 1rem);

}

.form-group span {
    color: red;
}

#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    resize: vertical;
    border: 2px solid #ddd;
    transition: border-color 0.3s;
}

#contact input:focus,
#contact textarea:focus {
    border-color: #ababab;
    outline: none;
}

#contact-form button {
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #57aa6e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s ease;
}

#contact-form button:hover {
    background-color: #303030;
    color: #fff;
}

.right-content {
    position: relative;
    z-index: 4;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
    box-sizing: border-box;
}

.inquiry-box {
    text-align: left;
    max-width: 40%;
}

.inquiry-box i {
    font-size: 2.2rem;
}

.inquiry-box h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.inquiry-box .phone {
    font-size: clamp(1.8rem, 3vw, 3.5rem);
    line-height: 1.2;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FEFAE0;
}

.inquiry-box p {
    font-size: 1em;
    color: #e0e0e0;
}



@media (max-width: 1250px) {
    .section-wrapper {
        height: auto;
        padding-bottom: 50px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #contact input,
    #contact textarea {
        padding: 8px;
    }

    .left-container {
        position: relative;
        width: 40%;
        height: 550px;
        top: 0;
        left: 0;
        margin-top: 30px;
        z-index: 5;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .right-content {
        justify-content: center;
        padding-right: 0;
        padding-top: 20px;
    }

    .inquiry-box {
        max-width: 90%;
        text-align: center;
    }

    .inquiry-box .phone {
        font-size: 1.5rem;
    }

    .inquiry-box h3 {
        font-size: 1.4rem;
    }

    .inquiry-box p {
        font-size: 0.95rem;
    }
}

@media (max-width: 800px) {
    .left-container {
        width: 70vw;
    }

    #contact form h2 {
        font-size: 1.5rem;
    }

    .inquiry-box .phone {
        font-size: 1.8rem;
    }

    .inquiry-box h3 {
        font-size: 1.2rem;
    }

    .inquiry-box p {
        font-size: 0.9rem;
    }

    #contact input,
    #contact textarea {
        font-size: 14px;
    }

    #contact-form button {
        font-size: 15px;
    }
}


#addresses {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 250px;
}

#address1,
#address2 {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: center;
    width: 350px;
}

#address1 {
    margin-right: 30vw;
    padding-left: 30px;
}

#address2 {
    padding-right: 30px;
}

#address1 h3,
#address2 h3 {
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    font-family: Verdana, sans-serif;
    font-weight: 100;
}

#address1 p,
#address2 p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1250px) {
    #addresses {
        margin-top: 50px;

    }
}

@media (max-width: 1250px) {
    #addresses {
        margin-top: 100px;

    }

    #address1 {
        margin-right: 15vw;
    }
}

@media(max-width:850px) {
    #addresses {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    #address1 {
        margin-right: 0vw;
        padding-left: 0px;
    }

    #address2 {
        padding-right: 0px;
    }
}




/* Footer */
footer {
    background-color: #191b2d;
    color: white;
    padding: 20px 20px 1px 20px;
    border-top: 7px solid #57aa6e;
    position: relative;
}



.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    gap: 30px;

}

.footer-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-section a {
    color: #ffffff;
    padding: 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s, transform 0.3s;
}

#footer_sec1 img {
    width: 100px;
    position: relative;
}

#footer_sec1 h4 i {
    font-size: 0.8rem;
    color: #E2E0C8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer_sec1 #para {
    display: flex;
    text-wrap: wrap;
    font-size: 0.9rem;
    width: 220px;
    margin-top: 20px;
    font-family: monospace;
    color: white;
    text-align: justify;
}

#footer_sec1 p {
    margin-top: 20px;
    color: #f2ff00;
}


#footer_sec2 a:hover {
    color: #ffcc00;
    transform: translateX(10px);
}

#footer_sec3 p {
    font-family: monospace;
    font-size: 1rem;
}

#footer_sec3 a {
    font-family: monospace;
    font-size: 1.1rem;
}


/* Social Media Icons */
.footer_socialLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    font-size: 27px;
    width: 250px;
    margin-top: 30px;
    padding: 5px 10px;
    background-color: white;
}

.footer_socialLinks a {
    margin: 0 10px;
    display: flex;
}

.footer_socialLinks a:hover {
    transform: scale(1.3);
}



/* Admin Login */

.admin-login a {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: 10px 15px;
    border: 1px solid #ffffff;
    transition: background 0.3s, color 0.3s;
}

.admin-login a:hover {
    background-color: #ffcc00;
    color: #121736;
    border: 1px solid #ffcc00;
}

/* Copyright and Designer Link */

.footer_sec5 {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border-top: 1px solid white;
    margin: 6vh 150px 2vh 140px;
}

.footer_sec5 b {
    font-size: 0.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Make Footer Responsive */
@media (max-width: 1250px) {
    .footer-container {
        flex-wrap: wrap;
    }

    .footer-section {
        flex: 1 1 calc(32%);
        padding: 0vw 10vw 2vw 8vw;
    }

}



@media (max-width: 820px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        top: 20px;
    }

    .footer-section {
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
        padding: 0 20px;
        align-items: center;
    }

    .footer-section h3 {
        font-size: 1.3rem;
        border-bottom: 1px solid white;
    }

    #footer_sec1 img {
        margin: 0 auto;
    }

    .footer-section:nth-child(1) {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .footer_sec5 {
        flex-direction: column;
    }


    .admin-login {
        margin: 30px 0;
    }

    #copyright {
        font-size: 0.75rem;
    }
}






#backToTop {
    display: inline-block;
    position: sticky;
    top: 78%;
    left: 1500px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#backToTop a {
    position: relative;
    right: 18px;
    font-size: 2.5rem;
}



#whatsapp img {
    position: fixed;
    bottom: 25px;
    right: 30px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    object-fit: cover;
}

#whatsapp img:hover {
    transform: scale(1.1);
}